page-recomendadas {
    ion-card {
        margin: 0;
        position: relative;
        text-align: center;
    }
    .card, .card-md,.card-ios {
        border-bottom: 8px solid map-get($colors ,"amarelo_1");
        border-radius: 0;
        box-shadow: none;
        height: 280px;
        margin: 0;
        position: relative;
        width: 100%;
    }
    .card-pelicula {
        background-color: rgba(0, 0, 0, .75);
        bottom: 0;
        display: block;
        height: 25%;
        padding: 1em .0em;
        position: absolute;
        width: 100%;
    }
    .card-pelicula > p {
        color: #fff;
        display: block;
        font-size: 1.25em;
        line-height: 1;
        padding: .1em 1em;
        text-align: left;
        vertical-align: bottom;
    }
}
