@mixin align-vertical-center(){
  display: flex;
  align-items: center;
  justify-content: center;
} 

@mixin align-horizontal-center(){
    margin-left: auto;
    margin-right: auto;
    display: block;
}