@import "theme/variables";
@import "theme/helpers";

.align-horizontal{
  @include align-horizontal-center()
}
.align-vertical{
  @include align-vertical-center()
}

.bg-tribos{
    background-image: url('../assets/images/bg-tribos.png');
    background-size: cover; 
    background-repeat: no-repeat;
}

.logo{
    max-width: 50%;
}

.slogan{
    color: map-get($colors, amarelo_1)
}

