page-generos {
    h3,
    p {
        color: map-get($colors, branco_1)
    }
    .coluna-genero {
        border: 1px solid white;
    }
    .icone {
        height: 85px;
    }
    .selecionado {
        background: rgba(255, 170, 1, 0.65);
    }
    .nao-selecionado {
        background: transparent;
    }
    .continuar {
        margin-bottom: 0px;
        width: 80%;
    }
    ion-scroll {
        height: 65%;
        white-space: nowrap;
    }
}